*{
    margin:5px;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    }
    #search-form {
        position: relative;
        margin-right: 2rem;
      }
      
      #search-box {
        width: 20rem;
        height: 1rem;
        padding: 1rem;
        border: 2px solid #ffffff;
        border-radius: 0.25rem;
      }
      
      #search-box:focus {
        outline: none;
        box-shadow: 0 0 2px 1px #255c3a;
      }
      
      #search-button {
        position: center;
        top: 2;
        right: 0;
        width: 2rem;
        height: 2rem;
        background-color: #000000;
        border: 25px;
        border-radius: 0 0.25rem 0.25rem 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #search-button:hover {
        background-color: #739b71;
      }
    
    .header_top{
    background-color: #003629;
    width: 100%;
    }
    
    .header_top .header_top_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;/*conteúdo fluído*/
    }
    .header_top .header_top_content .logo{
    flex: basis 20px;
    padding: 0px;
    width: 120px;
    }
    .header_top .header_top_content .header_top_menu{
    /*flex-basis = reserva o que sobrar de tela*/
    flex-basis: calc(100% - 300px);
    display: flex;
    /*justify-content = alinhamento de elemento*/
    justify-content: flex-end;
    }
    .header_top_menu ul {
    display: flex;
    /*alinha um do lado do outro*/
    align-items: stretch;
    }
    .header_top_menu ul li{
    list-style: none;/*retira os marcadores*/
    display: flex;
    align-items: center;/*alinha na vertical*/
    }
    .header_top_menu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #8BC34A;
    }
    
    .header_top_menu ul li a:hover{
    background-color: #455A64;
    color: #F7F7F7;
    }
    /* Cores */
:root {
    --cor-principal: #8BC34A; /* Verde claro */
    --cor-secundaria: #455A64; /* Cinza escuro */
    --cor-terciaria: #F7F7F7; /* Branco */
  }
  
  /* Estilos gerais */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-terciaria);
  }
  
  header {
    background-color: var(--cor-principal);
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: var(--cor-secundaria);
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--cor-principal);
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .hero {
    background-image: linear-gradient(to bottom, var(--cor-principal), var(--cor-secundaria));
    padding: 2rem;
    text-align: center;
    color: var(--cor-terciaria);
  }
  
  .hero h1 {
    font-size: 100px;
    margin-bottom: 10px;
  }
  
  .hero button {
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    border: none;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .hero button:hover {
    background-color: var(--cor-secundaria);
  }
  
  .content {
    padding: 5rem;
  }
  
  .content h2 {
    margin-top: 30px;
  }
  
  .content img {
    width: 100%;
    height: 700px;
    object-fit: contain;
    margin: 20px 0;
  }
  
  footer {
    background-color: var(--cor-principal);
    padding: 5rem;
    text-align: center;
    color: var(--cor-terciaria);
  }    
  body {
    background-image: url("fundoooooooo.avif");
}



.projeto{
  width: 100%;

}

.projeto_container{
  display: flex;
  margin: 10px;
}

.projeto_container_texto{
  width: 30%;
}

.imagem{
  margin-left: 30px;
  border-radius: 17px;
}

.projeto_container_imagem{
  width: 65%;
  border-bottom: #739b71;
  align-items:center
}
 .about_container{
  display: flex;

 }
 